.bottle{
    border: 3px solid rgb(220, 85, 61);
    margin: 15px;
    padding: 15 px;
    border-radius: 5px;
    background-color: rgb(182, 239, 239);
}
.bottle img{
   
        width: 200px;
    

}